@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 172 60% 98%; /* #f0fdfa Teal 50 */
    --foreground: 215 28% 17%; /* Slate 900 */
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --primary: 176 83% 31%; /* Teal 600 #0d9488 */
    --primary-foreground: 0 0% 100%;
    --danger: 0 72% 51%; /* Red 600 #dc2626 */
    --danger-foreground: 0 0% 100%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
